@page "~/Forum/Community/{name}"
@using Microsoft.Extensions.Localization
@using EasyAbp.Forum.Localization
@using EasyAbp.Forum.Permissions
@using Microsoft.AspNetCore.Authorization
@model EasyAbp.Forum.Web.Pages.Forum.Community.IndexModel
@inject IStringLocalizer<ForumResource> _l
@inject IAuthorizationService _authorization
@{
  var colors = new List<string>
  {
    "#007bff", "#e83e8c", "#6f42c1"
  };
}

@section scripts
{
    <abp-script src="/Pages/Forum/Community/index.js"/>
}

@section styles
{
    <abp-style src="/Pages/Forum/Community/index.css"/>
}

<script>
  let communityId = "@Model.Community.Id";
</script>

<div class="container">
  <div class="jumbotron mb-3 p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">@Model.Community.DisplayName</h1>
      <p class="lead my-3">@Model.Community.Description</p>
    </div>
  </div>

  @if (Model.PinnedPosts.Any())
  {
    <div class="pinned-posts row mb-2">
      @foreach (var post in Model.PinnedPosts)
      {
        <div class="pinned-post col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-100 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">@_l["PinnedPost"]</strong>
              <h3 class="mb-0">@post.Title</h3>
              <div class="mb-1 text-muted">@_l.GetString("PostedBy", post.CreatorId?.ToString() ?? _l["Anonymous"]) <time class="timeago" datetime="@post.CreationTime">@post.CreationTime</time></div>
              <p class="card-text mb-auto">@(post.Outline[..(post.Outline.Length < 100 ? post.Outline.Length : 100)] + "...")</p>
              <a asp-page="/Forum/Post" asp-all-route-data="@(new Dictionary<string, string> {{"id", post.Id.ToString()}})" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="post-thumbnail" width="200" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#55595c"/>
                <image class="post-thumbnail-img" href="/EasyAbp/Forum/images/post-thumbnail-placeholder.png" height="100" width="100" x="-20" y="100"></image>
              </svg>
            </div>
          </div>
        </div>
      }
    </div>
  }
  <div class="post-nav my-3 p-3 bg-white rounded shadow-sm d-flex justify-content-between">
    <div class="post-filter">
      <abp-button class="text-primary" button-type="Link" icon="certificate" text="@_l["NewPosts"].Value" />
      <abp-button class="text-secondary" button-type="Link" icon="fire" text="@_l["HotPosts"].Value" />
    </div>
      @if (await Model.CanCreatePostAsync())
      {
        <div class="create-post">
          <abp-button id="CreatePostButton" button-type="Primary" icon="plus" size="Small" text="@_l["CreatePost"].Value"/>
        </div>
      }
  </div>
</div>

<div class="container">
  <div class="posts my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">@Model.Community.DisplayName</h6>
    @if (!Model.Posts.Any())
    {
      <p class="mt-3 text-center text-secondary">@_l["NoPosts"]</p>
    }
    @foreach (var (post, i) in Model.Posts.Select((post, i) => ( post, i )))
    {
      var color = colors[i % colors.Count];
      <div class="post media text-muted pt-3 position-relative">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="@color"/></svg>

        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="w-100 mb-1">
            @_l.GetString("PostedBy", post.CreatorId?.ToString() ?? _l["Anonymous"])
            <time class="timeago" datetime="@post.CreationTime">@post.CreationTime</time>
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <a class="post-title stretched-link" href="~/Forum/Post/@post.Id"><h5 class="text-gray-dark">@post.Title</h5></a>
          </div>
          <span class="d-block">@post.Outline</span>
        </div>
      </div>
    }
  </div>

  <abp-paginator model="Model.PagerModel" show-info="true"></abp-paginator>
  
</div>