@page "~/Forum"
@using Microsoft.Extensions.Localization
@using EasyAbp.Forum.Localization
@model EasyAbp.Forum.Web.Pages.Forum.IndexModel
@inject IStringLocalizer<ForumResource> L
@{
  var colors = new List<string>
  {
    "#007bff", "#e83e8c", "#6f42c1"
  };
}

@section styles
{
    <abp-style src="/Pages/Forum/index.css"/>
}

<div class="container">
  <div class="communities my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">@L["Community"]</h6>
    @if (!Model.Communities.Any())
    {
      <p class="mt-3 text-center text-secondary">@L["NoCommunities"]</p>
    }
    @foreach (var (community, i) in Model.Communities.Select((community, i) => ( community, i )))
    {
      var color = colors[i % colors.Count];
      <div class="community media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="@color"/></svg>

        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <a class="community-display-name" href="~/Forum/Community/@community.Name"><strong class="text-gray-dark">@community.DisplayName</strong></a>
            <a href="#">@L["JoinCommunity"]</a>
          </div>
          <span class="d-block">@community.Description</span>
        </div>
      </div>
    }
  </div>
  
  <abp-paginator model="Model.PagerModel" show-info="true"></abp-paginator>
  
</div>